# ====================================
# CONFIGURACIÓN DE BASE DE DATOS
# ====================================
PG_USER=
PG_PASSWORD=
PG_HOST=
PG_PORT=
PG_DATABASE=

# ====================================
# CONFIGURACIÓN DEL SERVIDOR
# ====================================
NODE_ENV=
PORT=

# ====================================
# AUTENTICACIÓN Y SEGURIDAD
# ====================================
JWT_SECRET=
JWT_EXPIRES_IN=

# ====================================
# CORREO (Brevo SMTP)
# ====================================
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=
BREVO_SMTP_PASS=
MAIL_FROM_NAME=PoliRank
MAIL_FROM_ADDRESS=

# ====================================
# URL DE LA APLICACION
# ====================================
APP_URL=https://www.polirank.org