# ====================================
# CONFIGURACIÓN DE BASE DE DATOS
# ====================================
PG_USER=
PG_PASSWORD=
PG_HOST=
PG_PORT=
PG_DATABASE=

# ====================================
# CONFIGURACIÓN DEL SERVIDOR
# ====================================
NODE_ENV=
PORT=

# ====================================
# AUTENTICACIÓN Y SEGURIDAD
# ====================================
JWT_SECRET=
JWT_EXPIRES_IN=