# ===== Base de datos PostgreSQL =====
PG_USER=usuario           # Usuario de PostgreSQL
PG_PASSWORD=secret        # Contraseña del usuario
PG_HOST=localhost         # Host de la DB
PG_PORT=5432              # Puerto (por defecto 5432)
PG_DATABASE=DB        # Nombre de la base de datos

# ===== JWT =====
JWT_SECRET=supersecretkey # Clave secreta para firmar JWT

# ===== Entorno =====
NODE_ENV=development      # development | production
PORT=3000                 # Puerto en el que corre el backend

#