{
  "openapi": "3.0.0",
  "info": {
    "title": "PoliRank API",
    "description": "Documentación de la API para PoliRank",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://site--polirank--xx689ws46wj9.code.run"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Iniciar sesión",
        "description": "Endpoint para autenticar un usuario y obtener un token",
        "responses": {
          "200": {
            "description": "Inicio de sesión exitoso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "token": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "student": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "nombre": {
                              "type": "string"
                            },
                            "correo": {
                              "type": "string"
                            },
                            "Rol": {
                              "type": "object"
                            },
                            "Carrera": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciales inválidas"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "correo",
                  "password"
                ],
                "properties": {
                  "correo": {
                    "type": "string",
                    "format": "email",
                    "example": "estudiante@example.com",
                    "description": "Correo electrónico del usuario"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "password123",
                    "description": "Contraseña del usuario"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/profile": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Obtener perfil de usuario",
        "description": "Obtener el perfil del usuario autenticado. Solo usuarios autenticados pueden ver su propio perfil.",
        "responses": {
          "200": {
            "description": "Perfil del usuario obtenido exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "student": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "nombre": {
                          "type": "string"
                        },
                        "correo": {
                          "type": "string"
                        },
                        "Rol": {
                          "type": "object"
                        },
                        "Carrera": {
                          "type": "object"
                        }
                      }
                    },
                    "reviews": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "rows": {
                          "type": "array"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token inválido o no proporcionado"
          },
          "404": {
            "description": "Usuario no encontrado"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/auth/create-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Crear contraseña",
        "description": "Crear una nueva contraseña para un usuario inactivo.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "correo",
                  "newPassword"
                ],
                "properties": {
                  "correo": {
                    "type": "string",
                    "format": "email",
                    "example": "estudiante@example.com"
                  },
                  "newPassword": {
                    "type": "string",
                    "format": "password",
                    "example": "nuevaPassword123"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/alumnos/": {
      "get": {
        "tags": [
          "Alumnos"
        ],
        "summary": "Obtener todos los estudiantes",
        "description": "Obtener la lista de todos los estudiantes con búsqueda, filtros y paginación. Solo ADMIN puede ver todos los estudiantes.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Número de página (default: 1)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Cantidad de resultados por página (default: 10)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Buscar por nombre o correo",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "carrera_id",
            "in": "query",
            "description": "Filtrar por ID de carrera",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "rol_id",
            "in": "query",
            "description": "Filtrar por ID de rol",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de estudiantes obtenida exitosamente"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Alumnos"
        ],
        "summary": "Crear un nuevo estudiante",
        "description": "Crear un nuevo estudiante. Solo ADMIN puede crear estudiantes.",
        "responses": {
          "201": {
            "description": "Estudiante creado exitosamente"
          },
          "400": {
            "description": "Faltan campos requeridos"
          },
          "401": {
            "description": "No autenticado"
          },
          "403": {
            "description": "Sin permisos - Solo ADMIN"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "nombre",
                  "correo",
                  "password",
                  "carrera",
                  "rol"
                ],
                "properties": {
                  "nombre": {
                    "type": "string",
                    "example": "Juan Pérez",
                    "description": "Nombre completo del estudiante"
                  },
                  "correo": {
                    "type": "string",
                    "format": "email",
                    "example": "juan.perez@example.com",
                    "description": "Correo electrónico del estudiante"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "password123",
                    "description": "Contraseña del estudiante"
                  },
                  "carrera": {
                    "type": "integer",
                    "example": 1,
                    "description": "ID de la carrera"
                  },
                  "rol": {
                    "type": "integer",
                    "example": 2,
                    "description": "ID del rol"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/alumnos/{id}": {
      "get": {
        "tags": [
          "Alumnos"
        ],
        "summary": "Obtener estudiante por ID",
        "description": "Obtener un estudiante específico por su ID. Solo ADMIN puede ver la información de estudiantes.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID del estudiante"
          }
        ],
        "responses": {
          "200": {
            "description": "Estudiante obtenido exitosamente"
          },
          "404": {
            "description": "Usuario no encontrado"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Alumnos"
        ],
        "summary": "Actualizar un estudiante",
        "description": "Actualizar la información de un estudiante existente. Solo ADMIN puede actualizar estudiantes.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID del estudiante a actualizar"
          }
        ],
        "responses": {
          "200": {
            "description": "Estudiante actualizado exitosamente"
          },
          "401": {
            "description": "No autenticado"
          },
          "403": {
            "description": "Sin permisos - Solo ADMIN"
          },
          "404": {
            "description": "Usuario no encontrado"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nombre": {
                    "type": "string",
                    "example": "Juan Carlos Pérez",
                    "description": "Nombre completo del estudiante"
                  },
                  "correo": {
                    "type": "string",
                    "format": "email",
                    "example": "juan.perez@example.com",
                    "description": "Correo electrónico del estudiante"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Alumnos"
        ],
        "summary": "Eliminar un estudiante",
        "description": "Eliminar un estudiante existente. Solo ADMIN puede eliminar estudiantes.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID del estudiante a eliminar"
          }
        ],
        "responses": {
          "200": {
            "description": "Usuario eliminado"
          },
          "401": {
            "description": "No autenticado"
          },
          "403": {
            "description": "Sin permisos - Solo ADMIN"
          },
          "404": {
            "description": "Usuario no encontrado"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/alumnos/{id}/reviews": {
      "get": {
        "tags": [
          "Alumnos"
        ],
        "summary": "Obtener reviews de un estudiante",
        "description": "Obtener todas las reviews creadas por un estudiante. Solo ADMIN puede ver las reviews de cualquier estudiante.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID del estudiante"
          }
        ],
        "responses": {
          "200": {
            "description": "Reviews del estudiante obtenidas exitosamente"
          },
          "404": {
            "description": "No se encontraron reseñas para este usuario"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/materias/": {
      "get": {
        "tags": [
          "Materias"
        ],
        "summary": "Obtener todas las materias",
        "description": "Obtener la lista de todas las materias con filtros según el rol. Solo ADMIN puede ver todas las materias y STUDENT solo puede ver las materias de su carrera.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Número de página (default: 1)",
            "required": false,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Cantidad de resultados por página (default: 10)",
            "required": false,
            "example": 10,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Buscar por nombre de materia",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dpto_id",
            "in": "query",
            "description": "Filtrar por ID de departamento",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "career_id",
            "in": "query",
            "description": "Filtrar por ID de carrera (solo ADMIN)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "semester",
            "in": "query",
            "description": "Filtrar por semestre",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de materias obtenida exitosamente"
          },
          "401": {
            "description": "No autenticado"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/materias/{id}": {
      "get": {
        "tags": [
          "Materias"
        ],
        "summary": "Obtener materia por ID",
        "description": "Obtener una materia específica por su ID. Solo ADMIN puede ver todas las materias y STUDENT solo puede ver las materias de su carrera.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de la materia"
          }
        ],
        "responses": {
          "200": {
            "description": "Materia obtenida exitosamente"
          },
          "401": {
            "description": "No autenticado"
          },
          "403": {
            "description": "Sin permisos para ver esta materia"
          },
          "404": {
            "description": "Materia no encontrada"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/materias/{id}/secciones": {
      "get": {
        "tags": [
          "Materias"
        ],
        "summary": "Obtener estadísticas de secciones de una materia",
        "description": "Obtener las estadísticas de todas las secciones de una materia específica. Solo ADMIN y STUDENT pueden ver las estadísticas de secciones.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de la materia"
          }
        ],
        "responses": {
          "200": {
            "description": "Estadísticas de secciones obtenidas exitosamente"
          },
          "401": {
            "description": "No autenticado"
          },
          "403": {
            "description": "Sin permisos para ver esta materia"
          },
          "404": {
            "description": "Materia no encontrada"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/cursos/": {
      "get": {
        "tags": [
          "Cursos"
        ],
        "summary": "Obtener todos los cursos",
        "description": "Obtener la lista de todos los cursos. Solo ADMIN puede ver todos los cursos.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de cursos obtenida exitosamente"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/cursos/{id}": {
      "get": {
        "tags": [
          "Cursos"
        ],
        "summary": "Obtener curso por ID",
        "description": "Obtener un curso específico por su ID. Solo ADMIN puede ver la información de cursos.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID del curso"
          }
        ],
        "responses": {
          "200": {
            "description": "Curso obtenido exitosamente"
          },
          "404": {
            "description": "Curso no encontrado"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/cursos/{id}/reviews": {
      "get": {
        "tags": [
          "Cursos"
        ],
        "summary": "Obtener reviews de un curso",
        "description": "Obtener todas las reviews de un curso específico. Solo ADMIN puede ver las reviews de cualquier curso.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID del curso"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reviews del curso obtenidas exitosamente"
          },
          "404": {
            "description": "Curso no encontrado o sin reviews"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/sections/{id}/last": {
      "get": {
        "tags": [
          "Secciones"
        ],
        "summary": "Obtener últimas estadísticas de sección",
        "description": "Obtener las estadísticas más recientes de una sección (último curso). Solo ADMIN y STUDENT pueden ver las estadísticas de secciones.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de la sección"
          }
        ],
        "responses": {
          "200": {
            "description": "Estadísticas obtenidas exitosamente"
          },
          "404": {
            "description": "Sección no encontrada"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/sections/{id}/history": {
      "get": {
        "tags": [
          "Secciones"
        ],
        "summary": "Obtener historial de estadísticas de sección",
        "description": "Obtener el historial completo de estadísticas de una sección. Solo ADMIN y STUDENT pueden ver el historial de estadísticas de secciones.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de la sección"
          }
        ],
        "responses": {
          "200": {
            "description": "Historial de estadísticas obtenido exitosamente"
          },
          "404": {
            "description": "Sección no encontrada"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/sections/{id}/cursos": {
      "get": {
        "tags": [
          "Secciones"
        ],
        "summary": "Obtener cursos de sección",
        "description": "Obtener todos los cursos pertenecientes a una sección específica ordenados por año y periodo. Solo ADMIN y STUDENT pueden ver los cursos de una sección.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de la sección"
          }
        ],
        "responses": {
          "200": {
            "description": "Cursos obtenidos exitosamente"
          },
          "404": {
            "description": "Sección no encontrada"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/reviews/": {
      "get": {
        "tags": [
          "Reviews"
        ],
        "summary": "Obtener todas las reviews",
        "description": "Obtener la lista de todas las reviews con filtros y paginación. Solo ADMIN puede ver todas las reviews.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Número de página (default: 1)",
            "required": false,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Cantidad de resultados por página (default: 10)",
            "required": false,
            "example": 10,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "docente",
            "in": "query",
            "description": "ID del docente para filtrar",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "curso",
            "in": "query",
            "description": "ID del curso para filtrar",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "materia",
            "in": "query",
            "description": "ID de la materia para filtrar",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "alumno",
            "in": "query",
            "description": "ID del alumno para filtrar",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de reviews obtenida exitosamente"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Reviews"
        ],
        "summary": "Crear una nueva review",
        "description": "Crear una nueva review. Solo ADMIN y STUDENT pueden crear reviews.",
        "responses": {
          "201": {
            "description": "Review creada exitosamente"
          },
          "400": {
            "description": "Datos inválidos o review duplicada"
          },
          "401": {
            "description": "No autenticado"
          },
          "403": {
            "description": "Sin permisos para crear reviews"
          },
          "404": {
            "description": "Curso o aspecto no encontrado"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "curso",
                  "aspectos"
                ],
                "properties": {
                  "curso": {
                    "type": "integer",
                    "example": 1,
                    "description": "ID del curso a evaluar"
                  },
                  "aspectos": {
                    "type": "array",
                    "description": "Lista de aspectos a evaluar con sus valores",
                    "items": {
                      "type": "object",
                      "required": [
                        "aspecto",
                        "valor"
                      ],
                      "properties": {
                        "aspecto": {
                          "type": "integer",
                          "example": 1,
                          "description": "ID del aspecto"
                        },
                        "valor": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 5,
                          "example": 4,
                          "description": "Valor de la evaluación (1-5)"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reviews/{id}": {
      "get": {
        "tags": [
          "Reviews"
        ],
        "summary": "Obtener review por ID",
        "description": "Obtener una review específica por su ID.Solo ADMIN puede ver cualquier review y STUDENT puede ver su propia review.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de la review"
          }
        ],
        "responses": {
          "200": {
            "description": "Review obtenida exitosamente"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Review no encontrada"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Reviews"
        ],
        "summary": "Actualizar una review",
        "description": "Actualizar una review existente. Solo ADMIN y STUDENT pueden actualizar sus propias reviews.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de la review a actualizar"
          }
        ],
        "responses": {
          "200": {
            "description": "Review actualizada exitosamente"
          },
          "400": {
            "description": "Datos inválidos"
          },
          "401": {
            "description": "No autenticado"
          },
          "403": {
            "description": "Sin permisos para actualizar esta review"
          },
          "404": {
            "description": "Review no encontrada"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "aspectos"
                ],
                "properties": {
                  "aspectos": {
                    "type": "array",
                    "description": "Lista de aspectos a actualizar con sus valores",
                    "items": {
                      "type": "object",
                      "required": [
                        "aspecto",
                        "valor"
                      ],
                      "properties": {
                        "aspecto": {
                          "type": "integer",
                          "example": 1,
                          "description": "ID del aspecto"
                        },
                        "valor": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 5,
                          "example": 5,
                          "description": "Nuevo valor de la evaluación (1-5)"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Reviews"
        ],
        "summary": "Eliminar una review",
        "description": "Eliminar una review existente. Solo ADMIN y STUDENT pueden eliminar sus propias reviews.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de la review a eliminar"
          }
        ],
        "responses": {
          "200": {
            "description": "Review eliminada exitosamente"
          },
          "401": {
            "description": "No autenticado"
          },
          "403": {
            "description": "Sin permisos para eliminar esta review"
          },
          "404": {
            "description": "Review no encontrada"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/intentos/": {
      "get": {
        "tags": [
          "Intentos"
        ],
        "summary": "Obtener todos los intentos",
        "description": "Obtener la lista de todos los intentos. Solo ADMIN puede ver todos los intentos.",
        "responses": {
          "200": {
            "description": "Lista de intentos obtenida exitosamente"
          },
          "401": {
            "description": "No autenticado"
          },
          "403": {
            "description": "Sin permisos - Solo ADMIN"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Intentos"
        ],
        "summary": "Crear un nuevo intento",
        "description": "Crear un nuevo intento de materia. Solo ADMIN y STUDENT pueden crear intentos.",
        "responses": {
          "201": {
            "description": "Intento creado exitosamente"
          },
          "400": {
            "description": "Faltan campos requeridos"
          },
          "401": {
            "description": "No autenticado"
          },
          "404": {
            "description": "Asignatura no encontrada"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "asignatura",
                  "valor"
                ],
                "properties": {
                  "asignatura": {
                    "type": "integer",
                    "example": 1,
                    "description": "ID de la asignatura"
                  },
                  "valor": {
                    "type": "number",
                    "example": 3,
                    "description": "Número de intentos o valor del intento"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/intentos/{id}": {
      "get": {
        "tags": [
          "Intentos"
        ],
        "summary": "Obtener intento por ID",
        "description": "Obtener un intento específico por su ID. Solo ADMIN y STUDENT pueden ver sus propios intentos.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID del intento"
          }
        ],
        "responses": {
          "200": {
            "description": "Intento obtenido exitosamente"
          },
          "401": {
            "description": "No autenticado"
          },
          "403": {
            "description": "Sin permisos para ver este intento"
          },
          "404": {
            "description": "Intento no encontrado"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Intentos"
        ],
        "summary": "Actualizar un intento",
        "description": "Actualizar un intento existente. Solo ADMIN y STUDENT pueden actualizar sus propios intentos.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID del intento a actualizar"
          }
        ],
        "responses": {
          "200": {
            "description": "Intento actualizado exitosamente"
          },
          "401": {
            "description": "No autenticado"
          },
          "403": {
            "description": "Sin permisos para actualizar este intento"
          },
          "404": {
            "description": "Intento no encontrado"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "asignatura": {
                    "type": "integer",
                    "example": 1,
                    "description": "ID de la asignatura"
                  },
                  "valor": {
                    "type": "number",
                    "example": 4,
                    "description": "Número de intentos o valor del intento"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Intentos"
        ],
        "summary": "Eliminar un intento",
        "description": "Eliminar un intento existente. Solo ADMIN y STUDENT pueden eliminar sus propios intentos.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID del intento a eliminar"
          }
        ],
        "responses": {
          "200": {
            "description": "Intento eliminado"
          },
          "401": {
            "description": "No autenticado"
          },
          "403": {
            "description": "Sin permisos para eliminar este intento"
          },
          "404": {
            "description": "Intento no encontrado"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
